.Anim{
    animation: blink 5s linear infinite;
}

@keyframes blink{
    20%{
        box-shadow: 0px 0px 0px 6px rgb(8, 241, 74);
    }
    40%{
        box-shadow: 0px 0px 0px 6px orangered;
    }
    60%{
        box-shadow: 0px 0px 0px 6px rgb(50, 111, 157);
    }
    80%{
        box-shadow: 0px 0px 0px 6px rgb(202, 19, 226);
    }
    100%{
        box-shadow: 0px 0px 0px 6px rgb(199 206 201);
    }
}
